body {
    background-color: #fedcba
}
#encoding {
    padding: 0px 10px 10px 10px;
    float: left;
    width: 45%;
    background: #abcdef;
}
textarea {
    align-self: center;
    width: 100%;
    height: 200px;
}
input[type=submit] {
    align-self: left;
}
h1  {
    text-align: center;
}
div {
    border-radius: 3px;
    margin: 20px;
}

#decoding {
    padding: 0px 10px 10px 10px;
    background: #abcdef;
    float: left;
    width: 45%;
}